//@import '../node_modules/m-utilities/scss-functions/_str_replace.scss'; // called within svg_uri
@import '../node_modules/m-utilities/scss-functions/svg_uri';


$m-sharing-sizes: (
  std: 42px,
  small: 28px,
  big: 54px,
  xl: 4rem
);

@import '../m-sharing';
