//@import '@massimo-cassandro/m-utilities/scss-functions/_str_replace.scss'; // called within svg_uri
@import '@massimo-cassandro/m-utilities/scss-functions/_svg_uri';

@import './imgs/icons';

$sharing-links-items: (

  fb: (
    bg: #39579a,
    fg: #fff,
    icon: $sharing-links-facebook
  ),
  twt: (
    bg: #1da1f2,
    fg: #fff,
    icon: $sharing-links-twitter
  ),
  lnkd: (
    bg: #006699,
    fg: #fff,
    icon: $sharing-links-linkedin
  ),
  wa: (
    bg: #25d466,
    fg: #fff,
    icon: $sharing-links-whatsapp
  ),
  skype: (
    bg: #00aff0,
    fg: #fff,
    icon: $sharing-links-skype
  ),
  teams: (
    bg: #464eb8,
    fg: #fff,
    icon: $sharing-links-teams
  )
)!default;

$share_icon_fill: #666!default; // set to false if you don't need it

$sharing-links-sizes: (
  std: 42px,
  small: 28px
)!default;

$sharing-links-justify-content: center!default;

.sharing-links {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: $sharing-links-justify-content;
  align-items: center;

  @each $size, $value in $sharing-links-sizes {
    @if $size == 'std' {
      min-height: $value; // anti CLS

      a, .sharing-links-icon {
        width: $value;
        height: $value;
        margin:0 4px; // margin for desktop devices
        outline: none;
        display: block;
      }
    } @else {

      &.sharing-links-#{$size} {
        min-height: $value;
        a, .sharing-links-icon {
          width: $value;
          height: $value;
        }
      }
    }
  }

  a:hover {
    transform: scale(1.3);
    transform-origin: center;
    transition: transform .2s linear;
  }

  @media screen and (max-width: 768px) {
    a, .sharing-links-icon {
      margin:0 8px; // margin for small devices
    }
  }

  @if $share_icon_fill {
    .sharing-links-icon {
      background-color: transparent;
      &::before {
        content: svg-uri(
          str-replace(
            $sharing-links-share,
            '<svg',
            '<svg fill="#{$share_icon_fill}"'
          )
        );
      }
    }
  }

  // make anchors text invisible except for screenreaders (from bootstrap)
  a > span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }


}


@each $item, $values in $sharing-links-items {
  .sharing-links-#{$item} {
    background-color: map-get($values, bg);

    &::before {
      content: svg-uri(
        str-replace(
          map-get($values, icon),
          '<svg',
          '<svg fill="#{map-get($values, fg)}"'
        )
      );
    }
  }
}

